<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="Data Source=tcp:172.24.16.5,50501;Initial Catalog=CampaignGateway;User ID=produser;Password=C0rn3rstone#;" providerName="System.Data.SqlClient" />
    <add name="LoggingDatabaseConnection" connectionString="Data Source=tcp:172.24.16.5,50501;Initial Catalog=CampaignGateway;User ID=produser;Password=C0rn3rstone#;" providerName="System.Data.SqlClient" />-->
    <add name="DBConnectionString" connectionString="Data Source=tcp:172.24.16.5,50501;Initial Catalog=CampaignGateway;User ID=SupportUser;Password=ComplexHorseFire;" providerName="System.Data.SqlClient" />
    <add name="LoggingDatabaseConnection" connectionString="Data Source=tcp:172.24.16.5,50501;Initial Catalog=CampaignGateway;User ID=SupportUser;Password=ComplexHorseFire;" providerName="System.Data.SqlClient" />
    <add name="ConnectionStringPCDB" connectionString="Data Source=tcp:172.24.16.5,50501;Initial Catalog=PCDB;User ID=produser;Password=C0rn3rstone#;" />

    <!--<add name="LoggingDatabaseConnection" connectionString="Data Source=WIN-KA28918H7UM\SQLEXPRESS;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />-->
  </connectionStrings>
  <appSettings>
    <add key="OutputFilePath" value="C:\\SQLToCSV" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Auth" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Core" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.0" newVersion="1.48.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Google.Apis.Storage.v1" publicKeyToken="4b01fa6e34db77ab" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.48.0.2016" newVersion="1.48.0.2016" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>